<div class="card l">
  <h1>Pipes texto</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor</th>
      <th>Resultado</th>
    </tr>
    <tr>
      <td>Uppercase</td>
      <td>{{texto}}</td>
      <td>{{texto | uppercase}}</td>
    </tr>
    <tr>
      <td>Lowercase</td>
      <td>{{texto}}</td>
      <td>{{texto | lowercase}}</td>
    </tr>
    <tr>
      <td>Titlecase</td>
      <td>{{texto}}</td>
      <td>{{texto | titlecase}}</td>
    </tr>
  </table>
</div>
<div class="card l">
  <h1>Pipe slice</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor</th>
      <th>Resultado</th>
    </tr>
    <tr>
      <td>slice</td>
      <td>{{id}}</td>
      <td>{{id | slice:-3}}</td>
    </tr>
  </table>
</div>
<div class="card l">
  <h1>Pipe date</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor</th>
      <th>Resultado</th>
    </tr>
    <tr>
      <td>date</td>
      <td>{{fecha}}</td>
      <td>{{fecha | date: "dd/MM/yyyy hh:mm"}}</td>
    </tr>
    <tr>
      <td>date <i>long</i></td>
      <td>{{fecha}}</td>
      <td>{{fecha | date: "long"}}</td>
    </tr>
    <tr>
      <td>date <i>medium</i></td>
      <td>{{fecha}}</td>
      <td>{{fecha | date: "medium"}}</td>
    </tr>
    <tr>
      <td>date <i>short</i></td>
      <td>{{fecha}}</td>
      <td>{{fecha | date: "short"}}</td>
    </tr>
  </table>
</div>
<div class="card l">
  <h1>Pipe decimal</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor</th>
      <th>Resultado</th>
    </tr>
    <tr>
      <td>Dos decimales</td>
      <td>{{importe}}</td>
      <td>{{importe | number: '4.2-2' }}</td>
    </tr>
  </table>
</div>
<div class="card l">
  <h1>Pipe percent</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor</th>
      <th>Resultado</th>
    </tr>
    <tr>
      <td>Porcentual con dos decimales</td>
      <td>{{aciertos}}</td>
      <td>{{aciertos | percent:'2.2-2' }}</td>
    </tr>
  </table>
</div>
<div class="card l">
  <h1>Pipe currency</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor</th>
      <th>Resultado</th>
    </tr>
    <tr>
      <td>Moneda euro</td>
      <td>{{importe}}</td>
      <td>{{importe | currency:'EUR':true }}</td>
    </tr>
  </table>
</div>
<div class="card l">
  <h1>Pipe json</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor</th>
      <th>Resultado</th>
    </tr>
    <tr>
      <td>Objeto</td>
      <td>{{actor}}</td>
      <td>{{actor | json }}</td>
    </tr>
  </table>
</div>
<div class="card l">
  <h1>Pipe propio</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor</th>
      <th>Resultado</th>
    </tr>
    <tr>
      <td>Redondeo y moneda</td>
      <td>{{cantidad}}</td>
      <td>{{cantidad | numero: valor:' €' }} <button class="mini" (click)="redondeo(1)">+</button><button class="mini" (click)="redondeo(-1)">-</button></td>
    </tr>
  </table>
</div>
